{
  "presets": [
    [
      "@babel/preset-env", {
        "targets": {
          "browsers": [
            "last 2 versions",
            "edge >= 16"
          ]
        },
        "shippedProposals": true
      }
    ]
  ]
}
